a{
  color: black;
  display:block ;
  text-decoration: none;
}

a:hover{
  color: orange;
}
a:active{
  color: white;
}

h2 {
  text-align: center;
}

p{
  border: solid;
  border-color: white;
  margin: 25px;
  overflow: hidden;
}

img {
  margin: 30px;
  clear: both;
  border: clear;
  border-color: white;
}

ul {
  list-style: none;
}

table{
  border-collapse: collapse;
  border-color: orange;
  font-family: monospace;
  font-size: 16pt;
}

td {
    background-color: white;
    border: solid;
    border-color: orange;
}

td:hover{
  background-color: black;
}

td:active{
  background-color:orange;
}

#left {
  float: left;
}

#navigation {
  position: fixed;
  bottom: 0;
  right: 0;
}

#right {
  float: right;
}

#wrapper {
  border: solid;
  border-color: orange;
  border-radius: 15px;
  border-width: 15px;
  padding: 10px;
  width: 1150px;

  font-family: monospace;
  font-size: 16pt;
}

#title {
  font-size: 75px;
  text-align: center;
}

.section {
  border: solid;
  border-color: black;
  padding: 15px;
  margin-bottom: 25px;
  text-align: justify;
}

.subsection {
  border:solid;
  border-color: white;
  clear: both;

  margin: 10px;
}
